body {
    background-color: #121212;
    color: #33ff33;
    font-family: 'Courier New', monospace;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.main-content {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 60px;
    /* Más espacio debajo del navbar */
    margin-bottom: 60px;
    /* Más espacio arriba del footer */
}

footer {
    flex-shrink: 0;
    width: 100%;
    position: relative;
    bottom: 0;
    left: 0;
    z-index: 10;
    margin-top: auto;
}

.container {
    flex: 1 0 auto;
}

.terminal-header {
    background-color: #2b2b2b;
    color: white;
    padding: 0.3rem 0.7rem;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    font-size: 0.95rem;
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
}

.circle {
    width: 12px;
    height: 12px;
    border-radius: 50%;
}

.red {
    background-color: #ff5f56;
}

.yellow {
    background-color: #ffbd2e;
}

.green {
    background-color: #27c93f;
}

.terminal {
    background-color: #1e1e1e;
    padding: 1rem;
    border-radius: 0 0 0.5rem 0.5rem;
    box-shadow: 0 0 15px rgba(0, 255, 0, 0.2);
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
}

label {
    color: #33ff33;
}

.form-label,
.form-control {
    font-size: 0.95rem;
}

.form-control {
    background-color: #121212;
    color: #33ff33;
    border: 1px solid #33ff33;
    padding: 0.25rem 0.5rem;
}

.form-control::placeholder {
    color: #66ff66;
}

.btn-terminal {
    background-color: #33ff33;
    color: #121212;
    font-weight: bold;
    border: none;
    padding: 0.3rem 0.5rem;
    font-size: 1rem;
}

.btn-terminal:hover {
    background-color: #00cc00;
}

.registro-wrapper {
    min-height: 400px;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.registro-form-container {
    max-width: 600px;
    width: 100%;
}

.errorlist {
    color: #ff5f56;
    list-style-type: none;
    padding: 0;
    margin: 0 0 5px 0;
    font-size: 0.9rem;
}